

#footer-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

#copyright {
    color: #1d1d1d;
    font-weight: 500;
    margin: 0;
}

.social-media-buttons {
    display: flex;
    gap: 10px;
}

.social-media-buttons img {
    width: 30px;
    height: auto;
    cursor: pointer;
}