@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #e9a209;
    --secondary-color: #1d1d1d;
    --background-color: #fff9ea;
    --accent-color: #e9a209;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a,button,div[role="button"] {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: #fff9ea;
}

.site {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0px 30px;
    margin: 0 auto;
}

.testi {
    max-width: 900px;
    margin: 0 auto;
}

.testi .head {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 10px;
}

.testi .head h3:hover {
    transform: scale(1.05); 
    transition: .2s;
    color: #e9a209;
}

.testi .head h3 {
    font-size: 34px;
    font-weight: 800;
}

.testi .head p {
    font-size: 16px;
    color: var(--dark-color);
    opacity: .8;
}

.testi .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
}

ul {
    list-style: none;
}



/* Thumb */

.testi .foto {
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}

.testi .foto img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none;
}

.testi .foto::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: var(--primary-color);
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
    z-index: -1;
    box-shadow: var(--box-shadow);
}

.testi .aside {
    flex: 1;
    padding-top: 0;
    align-self: center;
}

.testi .aside > p {
    position: relative;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 30px;
}

.testi .aside > p::before,
.testi .aside > p::after {
    font-family: serif;
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    color: rgb(196, 195, 195);
    height: 40px;
    z-index: -1;
}

.testi .aside > p::before {
    content: open-quote;
    top: -40px;
    left: 10px;
}

.testi .aside > p::after {
    content: close-quote;
    right: 0;
}

.testi .aside .name {
    position: relative;
    width: fit-content;
    line-height: 1;
}

.testi .aside .name h4 {
    font-size: 22px;
    font-weight: 800;
    color: var(--primary-color);
    opacity: .8;
}

.testi .aside .name p {
    font-size: 12px;
    text-align: right;
}

@media screen and (max-width: 1170px) {
    #testimonials {
        min-height: auto;
        padding: 20px 0;
    }

    .container {
        padding: 0 20px;
    }

    .testi .head {
        margin-bottom: 20px;
    }

    .testi .head h3 {
        font-size: 28px;
    }

    .testi .head p {
        font-size: 18px;
    }

    .testi .wrapper {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px 0;
    }

    .testi .foto {
        width: 150px;
        height: 150px;
    }

    .testi .aside > p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .testi .aside .name h4 {
        font-size: 18px;
    }

    .testi .aside .name p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .testi .head h3 {
        font-size: 24px;
    }

    .testi .head p {
        font-size: 12px;
    }

    .testi .foto {
        width: 100px;
        height: 100px;
    }

    .testi .aside > p {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .testi .aside .name h4 {
        font-size: 16px;
    }

    .testi .aside .name p {
        font-size: 11px;
    }

    .dish-rate {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }

    .testi .head h3 {
        font-size: 32px;
    }

    .testi .head p {
        font-size: 18px;
    }

    .testi .foto {
        width: 190px;
        height: 190px;
    }

    .testi .aside > p {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .testi .aside .name h4 {
        font-size: 19px;
    }

    .testi .aside .name p {
        font-size: 15px;
    }

    .dish-rate {
        font-size: 19px;
    }
}